.border-solid {
  border: 3px solid rgba(10, 61, 44, 0.709);
}
.city-button{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1ch;
  background-color: rgba(176, 85, 176, 0.773);
  font-size: 150%;

}
.city-button:active{
  background-color: rgba(151, 98, 151, 0.773);
}
.weather-widget{
  border: solid 1px black;
  background-color: rgb(65, 71, 137);
  color: rgb(194, 214, 232);
  padding: 5px;
  align-items: center;
  text-align: center;
  border-radius: 1ch;
  margin: auto;

}
#result-text{
  font-size: 200%;
  font-weight: bold;
  color: rgb(5, 8, 43);

}

.bg-coll{
  background-color: rgb(88, 145, 195);
}
.bg-top{
  background-color: rgb(80, 109, 156);
}
.bg-main{
  background-color: rgb(186, 204, 234);

}
.card-body{
  color: rgb(23, 30, 27);
}

#search-bar{
  border: 2px;
  border-radius: 6px;
}
#search-bar:focus{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9eed9f;
}
#main-weather{
  margin: 20px 0;

}